body {
    text-align: center;
    background-color: #011F3F;
  }

  .short-title {
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
    border: 7px solid black;
    background-color: rgb(145, 94, 94);
    border-radius: 20px;
    padding: 20px;
    transition: 0.2s;
    line-height: 1.5;
  }

  #level-title:hover {
    cursor: pointer;
    background-color: #9c8892;
  }

  #level-title:active {
    background-color: #7e6f6f; /* Darker shade for "pressed" look */
    transform: scale(0.98); /* Slightly shrink the button */
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
  #instructions {
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
    margin-top: 60px;
  }
  
  #instructions p {
    margin-bottom: 50px;
  }